<h3> Recipe detail </h3>
Title: <%= @recipes.name() %> <br>
Ingredients: <%= @recipes.ingredients() %> <br>
Instructions: <%= @recipes.instructions() %> <br>
<br>

<form action="/recipe_detail/<%= @recipes.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button">Delete recipe</button>
</form>
<br>
<p><a href="/recipe_edit/<%= @recipes.id() %>">Update recipe title</a></p>
<p><a href="/">Return to Home Page</a></p>
